# =========================== #
# AstroLords project-specific #
# =========================== #
UnitTests/
BuildSettings.txt
BuildSettings.txt.meta

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
obj/
UnityGenerated/
Library/
Builds/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.DotSettings
UnityVS.VersionSpecific.dll
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/UnityVS/
Assets/Patchie/

